<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Swift</title>
    <link href="/style.css" rel="Stylesheet">
</head>

<body>
    <nav class="links">
        <a href="/aboutPage">About</a>
        <a href="/worksPage">Works</a>
        <a href="/photoGallery">Photo Gallery</a>
    </nav>
    <header class="header">
        <h1>Taylor Swift</h1>
    </header>
    <main>
        <p>
            Taylor Alison Swift (born December 13, 1989) is an American singer-songwriter. Her discography spans
            multiple genres and her narrative songwriting—often inspired by her personal life—has received critical
            praise and widespread media coverage. Born in West Reading, Pennsylvania, Swift moved to Nashville,
            Tennessee, at age 14 to become a country artist.
        </p>
        <article class="Impact">
            <hr>
            <h2> Impact </h2>
            <p>
                Swift, as one of the leading music artists of the 21st-century, has impacted the music industry in many
                aspects. She helped shape the modern country music scene. Rosen said Swift is the first
                country act whose fame reached the world beyond the U.S. Her chart success extended to Asia and the
                U.K., where country music had previously not been popular. She is one of the first country
                acts to use
                technology and online marketing techniques such as MySpace to promote their work. According to
                Entertainment Weekly,
                the commercial success of her debut helped the infant Big Machine go on to sign Garth Brooks and
                Jewel.
                Following Swift's rise to fame, country labels became more interested in signing young singers who write
                their own music.
                With her autobiographical narratives revolving around romance and heartbreak, she introduced the
                genre to a
                younger generation that could relate to her. Critics have since noted Swift's sound resonating in
                various
                albums released by female country singers like Kacey Musgraves, Maren Morris and Kelsea Ballerini.
                Rolling Stone
                listed Swift's country music as one of the biggest influences on 2010s pop music, and ranked her
                80th in their 100
                Greatest Country Artists of All Time list.
            </p>
        </article>
    </main>
</body>

</html>