<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Swift</title>
    <link href="/style.css" rel="Stylesheet">
</head>

<body>
    <nav class="links">
        <a href="/aboutPage">About</a>
        <a href="/worksPage">Works</a>
        <a href="/photoGallery">Photo Gallery</a>
    </nav>
    <header class="header">
        <h1>Taylor Swift</h1>
    </header>
    <main class="images">
        <img id="first-image" src="/photo1.jpg" alt="taylor swift image1">
        <img id="second-image" src="/photo2.jpeg" alt="taylor swift image2">
        <img id="third-image" src="/photo3.jpeg" alt="taylor swift image3">
    </main>
</body>

</html>