<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Swift</title>
    <link href="/style.css" rel="Stylesheet">
</head>

<body>
    <nav class="links">
        <a href="/aboutPage">About</a>
        <a href="/worksPage">Works</a>
        <a href="/photoGallery">Photo Gallery</a>
    </nav>
    <header class="header">
        <h1>Taylor Swift</h1>
    </header>
    <main>
        <h2> Discography </h2>
        <ul class="discography">
            <li><i>Taylor Swift</i> (2006)</li>
            <li><i>Fearless</i> (2008)</li>
            <li><i>Speak Now</i> (2010)</li>
            <li><i>Red</i> (2012)</li>
            <li><i>1989</i> (2014)</li>
            <li><i>Reputation</i> (2017)</li>
            <li><i>Lover</i> (2019)</li>
            <li><i>Folklore</i> (2020)</li>
            <li><i>Evermore</i> (2020)</li>
            <li><i>Midnights</i> (2022)</li>
        </ul>

        <ul class="Tours">
            <li>Fearless (2009-2010)</li>
            <li>Speak Now World Tour (2011-2012)</li>
            <li>The Red Tour (2013-2014)</li>
            <li>The 1989 Tour (2015)</li>
            <li>Reputation (2018)</li>
        </ul>
    </main>
</body>

</html>